<section>
    <div class="border-bottom pt-4 pb-2 mb-3">
        <h2 data-bind="text:displayName"></h2>
    </div>
    <div class="row">
        <div class="col-sm-2">Filter by:</div>
    </div>
    <!-- ko if:records().length > 0 -->
    <div class="row small">
        <p class="col-auto mr-auto pt-1">
            <span data-bind="html: 'Page: ' + currentPage() + ' of ' + totalPages() + '<br/>Produtos: '+ fromRecord() + '-' + toRecord() + ' to ' + totalRecords()"></span>
        </p>
        <div class="col-auto pt-2">
            <ul class="pagination">
                <!-- ko if: currentPage() > 5 && totalPages() > 10 -->
                <li class="page-item"><a class="page-link" title="First Page" href="#Produto/1">⇤</a></li>
                <li class="page-item"><a class="page-link" title="Previous Page" data-bind="attr: {href:'#Produto/' + previousPage(),  rel:'prev'}">←</a></li>
                <!--<li class="page-item disabled"><a class="page-link">…</a></li>-->
                <!-- /ko -->
                <!-- ko foreach: pageArray()-->
                <!-- ko if:$data == $parent.currentPage() -->
                <li class="active page-item"><a class="page-link" data-bind="attr: {title:'Current Page '+$data }, text:$data"></a></li>
                <!-- /ko -->
                <!-- ko if:$data != $parent.currentPage() -->
                <li class="page-item"><a class="page-link" data-bind="attr: {href:'#Produto/' + $data, title:'Goto Page '+$data }, text:$data"></a></li>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: currentPage() < totalPages() - 4 && totalPages() > 9 -->
                <!--<li class="disabled page-item"><a class="page-link">…</a></li>-->
                <li class="page-item"><a class="page-link" title="Next Page" data-bind="attr: {href:'#Produto/' + nextPage(), rel:'next' }">→</a></li>
                <li class="page-item"><a class="page-link" title="Last Page" data-bind="attr: {href:'#Produto/' + totalPages() }">⇥</a></li>
                <!-- /ko -->
            </ul>
        </div>
    </div>
    <!-- /ko -->
    <div data-bind="foreach:records" class="">
        <span class="d-inline-block img-thumbnail text-center" style="background:lightgrey">
            <img class="m-2" data-bind="attr : { src : Imagem , style : 'width: 228px;height:200px;', title: Nome}" />
            <a class="btn btn-dark d-block" data-bind="text:Nome, attr:{ href: '#ProdutoDetails/' + Nome}" style="font-size:11px;width:257px;"></a>
        </span>
    </div>
</section>